:root {
  --background-color: #ffffff;
  --accent-color: #64805c;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 50px;
}

h1 {
  color: inherit;
  font-family: "Playfair Display", "Arial", serif;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  color: inherit;
  font-family: "Playfair Display", "Arial", serif;
  font-weight: 700;
  font-size: 30px;
}

h3 {
  color: inherit;
  font-family: "Playfair Display", "Arial", serif;
  font-weight: 700;
  font-size: 26px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
  color: inherit;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/*Navigation bar styles, which will be reused across all pages of the website*/
#navigation-bar {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  font-family: "Poppins", "Arial";
  font-weight: 400;
  padding: 20px;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
  will-change: transform;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/*End of navigation bar styles*/

#welcome {
  background-color: var(--accent-color);
  box-sizing: border-box;
  padding: 10px 20px;
  color: var(--background-color);
  border-radius: 20px;
}

/*Custom button styles for the Lorebook button on the homepage*/
#button-lorebook-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-lorebook {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  font-family: Poppins, "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: var(--accent-color);
  font-size: 18px;
}

#button-lorebook:after,
#button-lorebook:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform .2s;
}

#button-lorebook:after {
  transform: translate(3px, 3px);
}

#button-lorebook:before {
  transform: translate(-3px, -3px);
}

#button-lorebook:hover:after,
#button-lorebook:hover:before {
  transform: translate(0);
}
/*End of custom button styles for the Lorebook button*/

/*Custom button styles for the Credits button on the homepage*/
#button-credits-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-credits {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  font-family: Poppins, "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: var(--accent-color);
  font-size: 18px;
}

#button-credits:after,
#button-credits:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform .2s;
}

#button-credits:after {
  transform: translate(3px, 3px);
}

#button-credits:before {
  transform: translate(-3px, -3px);
}

#button-credits:hover:after,
#button-credits:hover:before {
  transform: translate(0);
}
/*End of custom button styles for the Credits button*/