/*The following section is the menu of the entire website.
By modifying a variable here, you're changing the whole website's appearance.*/
:root {
  --primary-color: #ffffff; /*White*/
  --secondary-color: #29402d ; /*Dark sage green*/
  --accent-color: #699470 ; /*Sage green*/
  --text-color: #000000 ; /*Black*/
}

/*The following section is ONLY used for storing the available text styles.*/

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
/*End of text styles*/

#header {
  text-align: center;
  color: var(--text-color);
}

#about-me {
  border: 3px solid var(--accent-color);
  border-radius: 12px;
  overflow: auto;
}

  #table-aboutme{
     font-family: "Poppins";
     font-weight: 300;
     color: var(--text-color);
     border-collapse: collapse;
  }
  #table-aboutme td{
     border: solid 0px ;
     padding: 10px;
     font-size: 12px;
     text-align: left;
  }
  #table-aboutme tr{
     background-color: var(--primary-color);
     color: var(--primary-color);
  }